@import "tailwindcss";

@theme {
  --color-teal-50: #F0FDFA;
  --color-teal-500: #14B8A6;
  --color-teal-600: #0D9488;
  --color-slate-50: #F8FAFC;
  --color-slate-900: #0F172A;
  /* Tailwind v4 detectará automáticamente tus variables de tema aquí */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}